<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAwfUfWPyzueiAJMriQ1a-ycz6iUT1CrqI</string>
	<key>GCM_SENDER_ID</key>
	<string>745837720735</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khetiharii.app</string>
	<key>PROJECT_ID</key>
	<string>khetiharii</string>
	<key>STORAGE_BUCKET</key>
	<string>khetiharii.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:745837720735:ios:51d85ac7ab1261c8735eaa</string>
</dict>
</plist>